.contact-card {
    p {
        margin: 0 !important;
    }
    strong {
        color: var(--wp--preset--color--awb-color-8);
        margin-bottom: 5px;
        display: inline-block;
    }
    a {
        color: var(--wp--preset--color--awb-color-5);
        margin: 0;
    }
}

.tab-triggers {
    p {
        padding: 20px 0;
        border-bottom: 1px solid var(--awb-color1);
        cursor: pointer;
        margin: 0 !important;
        font-weight: 700;
        border-left: none;
        outline: none;
        text-wrap: balance;

        @media screen and (max-width: 843px) {
            text-align: center;
        }
    }

    .tab-trigger {
        outline: none;

        &:focus-visible p {
            outline: 2px solid #5b2d8e;
            outline-offset: 2px;
        }
    }

    .tab-trigger-active p {
        color: var(--wp--preset--color--awb-color-7) !important;
    }
}

[class*="tab-panel-"] {
    display: none;

    strong {
        line-height: 1.35;
        display: inline-block;
        font-size: 20px;
    }

    &:focus {
        outline: none;
    }

    p {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.tab-panel-1 {
    display: block;
}

.tab-images {
    position: relative;

    .fusion-image-element {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.4s ease;

        &:first-child {
            opacity: 1;
            pointer-events: auto;
        }

        span {
            width: 100%;
            height: 100%;
            display: block;
        }

        span img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }

    @media screen and (max-width: 843px) {
        min-height: 65vw;
    }
}

.tab-arrow {
    .fusion-column-wrapper {
        position: relative;
        overflow: visible !important;

        &::after {
            content: "";
            position: absolute;
            right: -49.5px;
            top: 0;
            width: 50px;
            height: 100%;
            background: var(--wp--preset--color--awb-color-7);
            clip-path: polygon(0 0, 0 100%, 100% 50%);
            z-index: 10;

            @media screen and (max-width: 843px) {
                right: auto;
                top: auto;
                bottom: -40px;
                left: 0;
                width: 100%;
                height: 41px;
                clip-path: polygon(0 0, 100% 0, 50% 100%);
            }
        }
    }
}

.awb-imageframe-caption-text {
    margin: 0 !important;
    padding: 10px 0;
    font-style: italic !important;
    color: var(--wp--preset--color--awb-color-5) !important;
}
