@mixin background-image($background-position: center, $background-size: contain, $background-repeat: no-repeat) {
    background-position: $background-position;
    background-size: $background-size;
    background-repeat: $background-repeat;
}
