html {
    font-size: 18px;
    font-weight: 500;
}

body {
    -webkit-font-smoothing: antialiased;
}

.is-weight-medium {
    * {
        font-weight: 500 !important;
    }
}

.is-weight-regular {
    * {
        font-weight: 400 !important;
    }
}

.is-weight-bold {
    * {
        font-weight: 700 !important;
    }
}

.is-text-wrap-balance {
    text-wrap: balance;

    > * {
        text-wrap: balance !important;
    }
}

.awb-imageframe-caption {
    .awb-imageframe-caption-title {
        display: none;
    }
}

.vertex-play {
    margin-left: 4px;
    margin-top: 2px;
}

.is-color-green {
    color: var(--awb-color4);
}

ul {
    li {
        margin-bottom: 10px;
    }
}
